.Notepad-container { display: grid;
  grid-template-columns: 250px repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 0.5rem;
}

@media all and (max-device-width : 480px) {
  .Notepad-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
  }
}

