.NoteForm {
  display: grid;
}

.NoteForm-input {
  width: 100%;
}

.NoteForm-button {
  float: right;
}

@media all and (max-device-width : 480px) {
  .NoteForm {
    padding-bottom: 1rem;
  }
  .NoteForm-input {
    width: 100%;
    /*float: none;*/
  }
}

